# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.expo-dev-cache/
expo-env.d.ts
dist/
web-build/

# Metro / bundler caches
.cache/
.metro-health-check*

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/*
.vscode
!.vscode/settings.json
.idea/
*.iml

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Local env & certs
.env
.env*.local
*.pem
*.p8
*.p12
*.key
*.mobileprovision
*.jks

# TypeScript
*.tsbuildinfo

# Native (generated later by prebuild/eject)
ios/
android/
Pods/
DerivedData/
.gradle/
local.properties

# Build artifacts
coverage/
build/
*.apk
*.aab
*.ipa
*.tar.gz

# DotNet API folders
bin/
obj/
appsettings.json
.vs/
appsettings.Development.json